<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knife.mapper.DimReviewInfoMapper">
    
    <resultMap type="DimReviewInfo" id="DimReviewInfoResult">
        <result property="reviewId"    column="review_id"    />
        <result property="wholeKnifeId"    column="whole_knife_id"    />
        <result property="knifeHandleDrawId"    column="knife_handle_draw_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="knifeType"    column="knife_type"    />
        <result property="updateTime"    column="update_time"    />
        <result property="knifeLife"    column="knife_life"    />
    </resultMap>

    <sql id="selectDimReviewInfoVo">
        select review_id, whole_knife_id, knife_handle_draw_id, create_time, remark, status, knife_type, update_time, knife_life from dim_review_info
    </sql>

    <select id="selectDimReviewInfoList" parameterType="DimReviewInfo" resultMap="DimReviewInfoResult">
        <include refid="selectDimReviewInfoVo"/>
        <where>  
            <if test="wholeKnifeId != null "> and whole_knife_id = #{wholeKnifeId}</if>
            <if test="knifeHandleDrawId != null "> and knife_handle_draw_id = #{knifeHandleDrawId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectDimReviewInfoByReviewId" parameterType="Long" resultMap="DimReviewInfoResult">
        <include refid="selectDimReviewInfoVo"/>
        where review_id = #{reviewId}
    </select>
        
    <insert id="insertDimReviewInfo" parameterType="DimReviewInfo">
        insert into dim_review_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reviewId != null">review_id,</if>
            <if test="wholeKnifeId != null">whole_knife_id,</if>
            <if test="knifeHandleDrawId != null">knife_handle_draw_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="knifeType != null">knife_type,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="knifeLife != null">knife_life,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reviewId != null">#{reviewId},</if>
            <if test="wholeKnifeId != null">#{wholeKnifeId},</if>
            <if test="knifeHandleDrawId != null">#{knifeHandleDrawId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="knifeType != null">#{knifeType},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="knifeLife != null">#{knifeLife},</if>
         </trim>
    </insert>

    <update id="updateDimReviewInfo" parameterType="DimReviewInfo">
        update dim_review_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="wholeKnifeId != null">whole_knife_id = #{wholeKnifeId},</if>
            <if test="knifeHandleDrawId != null">knife_handle_draw_id = #{knifeHandleDrawId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="knifeType != null">knife_type = #{knifeType},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="knifeLife != null">knife_life = #{knifeLife},</if>
        </trim>
        where review_id = #{reviewId}
    </update>

    <delete id="deleteDimReviewInfoByReviewId" parameterType="Long">
        delete from dim_review_info where review_id = #{reviewId}
    </delete>

    <delete id="deleteDimReviewInfoByReviewIds" parameterType="String">
        delete from dim_review_info where review_id in 
        <foreach item="reviewId" collection="array" open="(" separator="," close=")">
            #{reviewId}
        </foreach>
    </delete>
</mapper>